// variables
$dark-font-color: black;
$light-font-color: white;
$change-log-subheadings: white;
$base-font-size: 15px;
$saturate-amount: 20%;
$darken-amount: 10%;
$font-stack: 'Montserrat',
sans-serif;
$tetra-toolbox-color: #76b852;
$nextgen-toolbox-color: #02AAB0;
$tetra-toolbox-gradient-style: to left,
#76b852,
#8DC26F;
$nextgen-toolbox-gradient-style: to left,
#02AAB0,
#00CDAC;
$button-hover-color: #243B55;
$fade-out-value: .25; // ---------------- mixins
@mixin tetra($color1) {
    @include linear-gradient($color1);
} /// @param {color} $color1 - will serve as the base color of the gradient
/// @param {string} $direction - the direction in which the the gradient will flow
/// @param {color} $color2 - is optional, the 2nd color that the gradient will fade to
@mixin linear-gradient($direction, $color1, $color2: darken($color1, $darken-amount)) {
    background: $color1;
    background: -webkit-linear-gradient($direction, $color1, $color2);
    background: linear-gradient($direction, $color1, $color2);
}

@mixin faded-background($color) {
    background: $color;
    background: fade-out($color, $fade-out-value);
}

@mixin box-shadow($values) {
    -moz-box-shadow: $values;
    -webkit-box-shadow: $values;
    box-shadow: $values;
}

#changeLog {
    font-size: 13px;
    h1 {
        display: none;
    }
    h2 {
        font-size: $base-font-size;
        background: complement($change-log-subheadings);
        padding: $base-font-size;
        margin: 15px 0;
        color: $change-log-subheadings;
    }
    h3 {
        font-size: $base-font-size;
        color: rgb(85, 107, 47);
        padding: 10px 0 10px 15px;
        margin: 15px 0;
        background: complement(rgb(244, 244, 244));
    }
    ul {
        padding: 0 0 0 30px;
    }
    li {
        margin: 0;
        padding: 5px 0 0 0;
    }
}

.toolBox {
    text-align: center;
    position: relative;
    border: 1px solid $dark-font-color;
    z-index: 50000;
    margin: 0 0 5px 0;
    &.tetra {
        @include linear-gradient($tetra-toolbox-gradient-style...);
    }
    &.nextgen {
        @include linear-gradient($nextgen-toolbox-gradient-style...);
    }
}

$toolbox-container-highlight-color: #b6fbff;
.toolboxContainer {
    bottom: 20px;
    font-family: $font-stack;
    font-size: 12px;
    line-height: 20px;
    position: fixed;
    text-transform: lowercase;
    width: 140px;
    z-index: 99999999;
    &.nextgen {
        right: 0;
    }
    .highlight {
        @include linear-gradient(to right, $toolbox-container-highlight-color);
        color: complement($toolbox-container-highlight-color);
    }
}

.panelTitle {
    border-bottom: 1px solid #000000;
    color: $light-font-color;
    cursor: pointer;
    text-transform: lowercase;
}

.disappear {
    display: none;
}

.appear {
    display: block;
}

$odd-button-color: #74ebd5;
$even-button-color: #457fca;
$off-button-color: #ACB6E5;
.myEDOBut {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: normal;
    top: 15%;
    padding: 4px 0;
    position: relative;
    text-transform: lowercase;
    width: 135px;
    span:first-child {
        color: $light-font-color;
    }
    &[disabled] {
        border: 2px outset ButtonFace;
        background: #dddddd;
        background-color: #dddddd;
        cursor: not-allowed;
    }
    &[disabled] {
        span:first-child {
            color: $light-font-color;
        }
    }
    &.nextgen {
        margin: 1px 0 0 -20px;
    }
    &.tetra {
        margin: 1px 0 0 10px;
    }
    &.offButt {
        @include linear-gradient(to left, $off-button-color);
        border: 2px solid #000000;
        font-weight: normal;
        color: $light-font-color;
        width: 90%;
        height: 50px;
        margin: 0;
    }
    &:hover {
        @include linear-gradient(to left, $button-hover-color);
        border: 2px solid complement($button-hover-color);
    }
    &.evenEDObutts {
        @include linear-gradient(to left, $even-button-color, lighten($even-button-color, 20));
    }
    &.oddEDObutts {
        @include linear-gradient(to left, adjust-hue($even-button-color, 5));
    }
}

.hideToolbox {
    position: absolute;
    top: -20px;
    z-index: 500000;
    &.tetra {
        right: -25px;
    }
    &.nextgen {
        left: -25px;
        right: initial;
    }
    i:first-of-type {
        padding: 0 10px;
    }
}




















/* show button */

$show-toolbox-button-color: rgb(168, 224, 99);
.showToolbox {
    @include linear-gradient(to right, $show-toolbox-button-color); //background: rgb(168, 224, 99);
    //background: linear-gradient(to right, rgb(168, 224, 99) 0%, rgb(86, 171, 47) 100%);
    bottom: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 10px;
    padding: 5px;
    position: fixed;
    z-index: 99999999;
    &.tetra {
        left: 0;
    }
    &.nextgen {
        right: 0;
    }
    i:first-of-type {
        padding: 0 10px;
    }
}




















/* legend styles */

.legendContainer {
    font-family: "Montserrat";
    position: fixed;
    bottom: 20px;
    width: 260px;
    z-index: 99999999;
    &.tetra {
        right: 115px;
        font-size: 11px;
    }
    &.nextgen {
        left: 115px;
    }
    .legendTitle {
        font-weight: bold;
        font-size: 18px;
    }
    .legendList {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        li {
            padding: 5px;
            margin: 5px;
            cursor: pointer;
        }
    }
}

.tbLegend {
    background: white;
    border: 1px solid black;
    display: none;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
}

.hint {
    font-style: italic;
    line-height: 10px;
    margin: 10px 0 0 0;
}




















/*
----------------------------------------
Page Information Styles
----------------------------------------
*/

.hCount {
    display: block;
}

.hTags {
    cursor: pointer;
    background: white;
    border-top: 1px solid #000000;
}

.count {
    font-weight: bold;
}

$zero-hTag-total-highlight: #F2C94C;
.zeroTotal {
    @include linear-gradient(to right, $zero-hTag-total-highlight, lighten($zero-hTag-total-highlight, 20));
}

.hTagDisplay {
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background: rgb(180, 180, 180);
}

.hTagDisplayContainer {
    @include faded-background(black);
    color: rgb(0, 0, 0);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

$page-information-display-area:#ECE9E6;
.tbInfo {
    @include linear-gradient(to right, $page-information-display-area);
    color: #000000;
    clear: both;
    cursor: pointer;
    line-height: 15px;
    padding: 3px 0;
    text-transform: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: 10px;
    word-wrap: break-word;
}

.tbLabel {
    font-weight: bold;
    font-size: inherit;
}




















/*
----------------------------------------
Image checker
----------------------------------------
*/

.imgOverlay {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    &.myNextGen {
        z-index: 5;
        height: 100%;
        width: 100%;
    }
} //.imgOverlay.myNextGen {
//    z-index: 5;
//    height: 100%;
//    width: 100%;
//}

/* allow proper displaying of color overlay on images */

.overlaid {
    position: relative;
}

$has-alt-text-background: rgb(146, 232, 66);
.hasAlt,
body .card .content .hasAlt {
    @include faded-background($has-alt-text-background);
}

$has-no-alt-background: rgb(255, 124, 216);
.noAlt,
body .card .content .noAlt {
    @include faded-background($has-no-alt-background);
}

.emptyAlt,
body .card .content .emptyAlt {
    @include faded-background($has-no-alt-background);
}




















/*
----------------------------------------
lnk checker styles
----------------------------------------
*/

$unsupported-page-link-highlight: rgb(13, 149, 232);
$color-transparency: .8;
$no-title-background: rgb(255, 124, 216);
$has-title-background: rgb(146, 232, 66);

footer .card .content .text .link .siteLink,
body .card .content .text .copy .siteLink,
body .card .content .text .link .siteLink,
body .card .content .media .imgOverlay {
    &.unsupportedPageLink {
        @include box-shadow(inset 0 0 0 903px rgba($unsupported-page-link-highlight, $color-transparency));
        border: none;
        color: white;
    }
    &.noTitle {
        @include faded-background($no-title-background);
        border: none;
    }
    &.hasTitle {
        @include faded-background($has-title-background);
        border: none;
    }
    &.opensWindow {
        background: rgb(255, 165, 0);
        background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(255, 255, 255, 0) 26%, rgba(146, 232, 66, 0) 100%) !important;
        border: none;
    }
    &.hasTitle.opensWindow {
        background: rgb(146, 232, 66);
        background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(146, 232, 66, 0.75) 26%, rgba(146, 232, 66, 0.75) 99%, rgba(146, 232, 66, 0.75) 100%) !important;
        border: none;
    }
    &.noTitle.opensWindow {
        background: rgb(255, 124, 216);
        background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(255, 124, 216, 0.75) 26%, rgba(255, 124, 216, 0.75) 100%) !important;
        border: none;
    }
    &.emptyTitle.opensWindow {
        background: rgb(255, 124, 216);
        background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(255, 124, 216, 0.75) 26%, rgba(255, 124, 216, 0.75) 100%) !important;
        border: none;
    }
    &.brokenURL {
        color: white;
        @include box-shadow(inset 0 0 0 903px rgba(255, 55, 60, .90));
        border: none;
    }
    &.urlIssue {
        color: white;
        -moz-box-shadow: inset 0 0 0 903px rgba(255, 55, 60, .90);
        -webkit-box-shadow: inset 0 0 0 903px rgba(255, 55, 60, .90);
        box-shadow: inset 0 0 0 903px rgba(255, 55, 60, .90);
        border: none;
    }
    &.absoluteURL {
        -moz-box-shadow: inset 0 0 0 3px purple;
        -webkit-box-shadow: inset 0 0 0 3px purple;
        box-shadow: inset 0 0 0 3px purple;
        border: none;
    }
    .buttonFlag {
        background: #4568DC !important;
        background: -webkit-linear-gradient(to right, #B06AB3, #4568DC) !important;
        background: linear-gradient(to right, #B06AB3, #4568DC) !important;
        color: #ffffff;
        border: none;
    }
    &.linkChecked {
        background: rgb(160, 255, 206);
        background: linear-gradient(to right, rgba(249, 255, 209, 0.75) 0%, rgba(160, 255, 206, 0.75) 100%) !important;
        border: none;
        color: #000000;
        /*        background: rgb(249, 255, 209);*/
        /*    background: linear-gradient(to right, rgba(249, 255, 209, 0.75) 0%, rgba(160, 255, 206, 0.75) 100%);*/
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        /*    color: #999999;*/
    }
}




















/* covers all text links and image links */

.linkChecked,
footer .card .content .text .link .siteLink.linkChecked,
body .card .content .text .copy .siteLink.linkChecked,
body .card .content .text .copy .siteLink.linkChecked.hasTitle,
body .card .content .text .copy .siteLink.linkChecked.noTitle,
body .card .content .text .link .siteLink.linkChecked,
body .card .content .text .link .siteLink.linkChecked.hasTitle,
body .card .content .text .link .siteLink.linkChecked.noTitle,
body .card .content .media .imgOverlay.linkChecked,
body header .menu > nav > ul ul.showNav.nextgenShowNav > li.showNav.customAdd > .linkChecked,
body header .menu > nav > ul li.showNav.customAdd:hover ul.showNav.nextgenShowNav > li.showNav.customAdd > .linkChecked {
    background: rgb(160, 255, 206);
    background: linear-gradient(to right, rgba(249, 255, 209, 0.75) 0%, rgba(160, 255, 206, 0.75) 100%) !important;
    border: none;
    color: #000000;
    /*        background: rgb(249, 255, 209);*/
    /*    background: linear-gradient(to right, rgba(249, 255, 209, 0.75) 0%, rgba(160, 255, 206, 0.75) 100%);*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*    color: #999999;*/
}




















/*
----------------------------------------
spell checker styles
----------------------------------------
*/

.spell-check.misspelled {
    display: inline-block;
    vertical-align: initial;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    background-color: rgb(255, 182, 193);
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAMAAACDKl70AAAAFVBMVEX////+NQD+NQD+NQD+Sgz+NQD+NQCKU3Z/AAAAB3RSTlMAKVdwqL/ggPdRNgAAABdJREFUCNdjYGRiZGBgYWVhYGBmY2YAAADPAB54rWlqAAAAAElFTkSuQmCC")
}




















/*
----------------------------------------
Web Page Test Styles
----------------------------------------
*/

.WPT {
    &.input {
        background: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        display: none;
        text-align: center;
        padding: 5px;
        margin: 5px 0;
        .myEDOBut {
            margin: 0;
        }
    }
    &.email {
        margin: 5px 0;
        width: 85%;
    }
    &.bSelect {
        margin: 5px 0;
        width: 90%;
    }
    &.keySelect {
        margin: 5px 0;
        width: 90%;
    }
}

.WPT.input {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    display: none;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
}




















/*
----------------------------------------
show navigation
----------------------------------------
*/


/*
used box shadow to color links,
no other way around bundle.css
styles without using !important or id selectors
*/

$major-page-highlight: rgb(255,
204,
51);
.majorPage {
    @include box-shadow(inset 0 0 0 500px rgba($major-page-highlight, $color-transparency)); //-moz-box-shadow: inset 0 0 0 500px rgba($major-page-highlight, $color-transparency);
    //-webkit-box-shadow: inset 0 0 0 500px rgba(255, 204, 51, .8);
    //box-shadow: inset 0 0 0 500px rgba(255, 204, 51, .8);
}

$custom-landing-page-highlight: rgb(252,
103,
250);
.customPage {
    @include box-shadow(inset 0 0 0 500px rgba($custom-landing-page-highlight, $color-transparency)); //-moz-box-shadow: inset 0 0 0 500px rgba(252, 103, 250, .8);
    //-webkit-box-shadow: inset 0 0 0 500px rgba(252, 103, 250, .8);
    //box-shadow: inset 0 0 0 500px rgba(252, 103, 250, .8);
}

/**
* Show Navigation Styles
*/
%next-gen-show-nav-styles {
    display: inline-block;
    position: absolute;
    border: none;
    margin: 1rem 0 0 -1rem;
    padding: 0;
    width: 20rem;
    @extend %black-bg-white-text;
}

%black-bg-white-text {
    color: white;
    background: black;
}

body {
    .page nav #pmenu .showNav {
        display: block !important;
    }
    header {
        .menu > nav > ul {
            .showNav.customAdd {
                width: 15rem;
                padding: 1rem 0;
                font-size: 15px;
            }
            ul.showNav.nextgenShowNav {
                @extend %next-gen-show-nav-styles;
                &:hover {
                    @extend %next-gen-show-nav-styles;
                }
                > li.showNav.customAdd > a {
                    @extend %black-bg-white-text;
                }
            }
            li {
                &.showNavAdd.customAdd > span {
                    @extend %black-bg-white-text;
                }
                &:hover ul.showNav.nextgenShowNav > li.showNav.customAdd {
                    padding: 0;
                    > a {
                        @extend %black-bg-white-text;
                    }
                }
            }
        }
    }
}

/*
----------------------------------------
SEO Simplify
----------------------------------------
*/

.inputDisplay {
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background: rgb(180, 180, 180);
}

.inputContainer {
    @include faded-background(black);
    //background: rgb(0, 0, 0);
    //background: rgba(0, 0, 0, 0.75);
    color: rgb(0, 0, 0);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

/*
----------------------------------------
widget outline
----------------------------------------
*/

$show-widget-color: rgb(80, 201, 195);
.showWidgetData:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    margin: auto;
    @include linear-gradient(to right, $show-widget-color);
    //background: rgb(80, 201, 195);
    //background: linear-gradient(to right, rgba(80, 201, 195, .85), rgba(150, 222, 218, .85));
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.outlineWidget {
    border: 1px dotted pink;
}

.hideColorblock {
    z-index: -1;
}

/*
----------------------------------------
404 link checker
----------------------------------------
*/

$error-highlight: rgb(240, 0, 0);

.error,
body header .menu>nav>ul ul.showNav.nextgenShowNav>li.showNav.customAdd>.error,
.header.card .menu nav ul li:hover>ul li a.error,
body .card .content .text .copy .siteLink.error,
body .card .content .text .link .siteLink.error,
body .card .content .media .imgOverlay.error,
body .page header #pmenu .error {
    @include linear-gradient(to left, $error-highlight, $error-highlight);
    @include box-shadow(none);
    border: none;
    color: #ffffff;
}

$error-shadow-highlight: inset 0 0 0 3px rgb(255, 55, 60);

.attention,
body header .menu>nav>ul ul.showNav.nextgenShowNav>li.showNav.customAdd>.attention,
.header.card .menu nav ul li:hover>ul li a.attention,
body .card .content .text .copy .siteLink.attention,
body .card .content .text .link .siteLink.attention,
body .card .content .media .imgOverlay.attention,
body .page header #pmenu .attention {
    border: none;
    @include box-shadow($error-shadow-highlight);
}

$jump-link-highlight: #FFAFBD;

.jumpLink,
body header .menu>nav>ul ul.showNav.nextgenShowNav>li.showNav.customAdd>.jumpLink,
.header.card .menu nav ul li:hover>ul li a.jumpLink,
body .card .content .text .copy .siteLink.jumpLink,
body .card .content .text .link .siteLink.jumpLink,
body .card .content .media .imgOverlay.jumpLink,
body .page header #pmenu .jumpLink {
    @include linear-gradient(to left, $jump-link-highlight);
    border: none;
    @include box-shadow(none);
    color: #000000;
}

$mobile-phone-link-highlight: #005588;

.mobilePhoneLink,
body header .menu>nav>ul ul.showNav.nextgenShowNav>li.showNav.customAdd>.mobilePhoneLink,
.header.card .cta a[href^="tel:"].mobilePhoneLink span,
.header.card .menu nav ul li:hover>ul li a.mobilePhoneLink,
body .card .content .text .copy .siteLink.mobilePhoneLink,
body .card .content .text .link .siteLink.mobilePhoneLink,
body .card .content .media .imgOverlay.mobilePhoneLink,
body .page header #pmenu .mobilePhoneLink {
    background: $mobile-phone-link-highlight;
    border: none;
    @include box-shadow(none);
    color: #ffffff;
}

$success-link-highlight: rgb(86, 171, 47);

.success,
body header .menu>nav>ul ul.showNav.nextgenShowNav>li.showNav.customAdd>.success,
.header.card .menu nav ul li:hover>ul li a.success,
body .card .content .text .copy .siteLink.success,
body .card .content .text .link .siteLink.success,
body .card .content .media .imgOverlay.success,
body .page header #pmenu .success {
    @include linear-gradient(to right, $success-link-highlight);
    border: none;
    @include box-shadow(none);
    color: #000000;
}

$other-domain-link-highlight: rgb(0, 201, 255);

.otherDomain,
body header .menu>nav>ul ul.showNav.nextgenShowNav>li.showNav.customAdd>.otherDomain,
.header.card .menu nav ul li:hover>ul li a.otherDomain,
body .card .content .text .copy .siteLink.otherDomain,
body .card .content .text .link .siteLink.otherDomain,
body .card .content .media .imgOverlay.otherDomain,
body .page header #pmenu .otherDomain {
    @include linear-gradient(to left, $other-domain-link-highlight);
    border: none;
    @include box-shadow(none);
    color: #000000;
}

.checkMessage {
    margin: 5px auto;
    padding: 5px;
}

.checkContainer {
    text-align: center;
    background: white;
}


/*
----------------------------------------
toggle tools styles -- todo
----------------------------------------
*/

.toggleTool {
    background: rgb(236, 233, 230);
    background: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
    border-top: 1px solid #999999;
    color: rgb(0, 0, 0);
    cursor: pointer;
    line-height: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.autoApply {
    font-weight: bold;
}

.autoApplyInput {
    background: rgb(255, 255, 255);
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(171, 186, 171) 35%, rgb(171, 186, 171) 70%, rgb(255, 255, 255) 100%);
}

.refreshPageContainer {
    position: absolute;
    right: 35px;
    top: -55px;
    z-index: 500000;
}

.refreshButt {
    background: rgb(251, 211, 233);
    background: linear-gradient(to left, rgb(251, 211, 233), rgb(187, 55, 125));
    width: initial;
    padding: 5px 20px 5px 15px;
}

.refreshButt:hover {
    background: #f4c4f3;
    background: linear-gradient(to left, #f4c4f3, #fc67fa);
}

/**
* jQuery UI styles
*/

.ui-dialog-titlebar {
    .ui-dialog-titlebar-close {
        display: none;
    }
}

.ui-widget.ui-widget-content {
    background: rgb(169, 169, 169);
}

.ui-dialog-buttonset .ui-button {
    color: $dark-font-color !important;
}

.ui-draggable {
    position: fixed !important;
}
