---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif;
}

header { 
  background: #348F50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
  background: url(https://octodex.github.com/images/bouncercat.png) 128% 40% no-repeat, linear-gradient(to left, rgb(86, 180, 211), rgb(52, 143, 80)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header h1 {
  font-family: inherit; 
  font-size: 200px;
  font-weight: bold;
  line-height: 30px;
  overflow: visible;
  margin: 40px 0px 15px 0px;
  position: absolute;
}

header p {
  margin: 70px 0px 0px 120px;
  padding: 0px;
  font-size: 17px;
  left: 50%;
  color: rgb(0, 0, 0);  
}

.wrapper {
  width: 790px;
}

nav {
  background: #f4f4f4;
  border: 1px solid #c4c4c4;
  padding-right: 15px;
  padding-top: 15px;
  left: 43%;
  width: 305px;
}

section {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 800px;
}

footer {
  left: inherit;
  margin-left: -580px; 
  right: 9%;
  text-align: left;
  width: 300px;
}

#banner {
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #f4f4f4;
}

#banner .button {
 display: none; 
}
