/*
----------------------------------------
default styles
----------------------------------------
*/

.toolBox {
    text-align: center;
    position: relative;
    border: 1px solid black;
    z-index: 50000;
    margin: 0 0 5px 0;
}

.tetra.toolBox {
    background: #76b852;
    background: linear-gradient(to left, #76b852, #8DC26F)
}

.nextgen.toolBox {
    background: #02AAB0;
    background: linear-gradient(to left, #02AAB0, #00CDAC)
}

.toolboxContainer {
    bottom: 20px;
    font-family: "Montserrat";
    font-size: 12px;
    line-height: 20px;
    position: fixed;
    text-transform: lowercase;
    width: 140px;
    z-index: 99999999;
}

.toolboxContainer.nextgen {
    right: 0;
}

.toolboxContainer .highlight {
    background: #b6fbff;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    color: #ffffff;
}

.panelTitle {
    border-bottom: 1px solid #000000;
    color: white;
    cursor: pointer;
    text-transform: lowercase;
}

.disappear {
    display: none;
}

.appear {
    display: block
}


/* buttons */

.myEDOBut {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: normal;
    top: 15%;
    padding: 4px 0;
    position: relative;
    text-transform: lowercase;
    width: 135px;
}

.myEDOBut>span {
    color: #ffffff;
}

.myEDOBut[disabled]>span {
    color: grey;
}

.myEDOBut.notWorking {
    background: purple;
}

.myEDOBut.nextgen {
    margin: 1px 0 0 -20px;
}

.tetra.myEDOBut {
    margin: 1px 0 0 10px;
}

.myEDOBut.offButt {
    background: #85D8CE;
    background: linear-gradient(to left, #085078, #85D8CE);
    border: 2px solid #000000;
    font-weight: normal;
    color: white;
    width: 90%;
    height: 50px;
    margin: 0;
}

.myEDOBut[disabled] {
    border: 2px outset ButtonFace;
    background: #dddddd;
    background-color: #dddddd;
    cursor: not-allowed;
}

.myEDOBut:hover {
    background: #243B55;
    background: linear-gradient(to left, #141E30, #243B55);
    border: 2px solid rgb(0, 0, 0);
}

.evenEDObutts {
    background: #457fca;
    background: linear-gradient(to left, #457fca, #5691c8);
}

.oddEDObutts {
    background: #6190E8;
    background: linear-gradient(to left, #6190E8, #A7BFE8);
}


/* hide button */

.hideToolbox {
    position: absolute;
    top: -20px;
    z-index: 500000;
}

.hideToolbox.tetra {
    right: -25px;
}

.hideToolbox.nextgen {
    left: -25px;
    right: initial;
}

.hideToolbox>i {
    padding: 0 10px;
}


/* show button */

.showToolbox {
    background: rgb(168, 224, 99);
    background: linear-gradient(to right, rgb(168, 224, 99) 0%, rgb(86, 171, 47) 100%);
    bottom: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    position: fixed;
    z-index: 99999999;
}

.showToolbox.tetra {
    left: 0;
}

.showToolbox.nextgen {
    right: 0;
}

.showToolbox>i {
    padding: 0 10px;
}


/* legend styles */

.legendContainer {
    font-family: "Montserrat";
    position: fixed;
    bottom: 20px;
    width: 260px;
    z-index: 99999999;
}

.legendContainer.tetra {
    right: 115px;
    font-size: 11px;
}

.legendContainer.nextgen {
    left: 115px;
}

.legendTitle {
    font-weight: bold;
    font-size: 18px;
}

.legendContent {
    padding: 5px;
    margin: 5px;
}

.legendList {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.tbLegend {
    background: white;
    border: 1px solid black;
    display: none;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
}

.hint {
    font-style: italic;
    line-height: 10px;
    margin: 10px 0 0 0;
}


/*
----------------------------------------
Page Information Styles
----------------------------------------
*/

.hCount {
    display: block;
}

.hTags {
    cursor: pointer;
    background: white;
    border-top: 1px solid #000000;
}

.count {
    font-weight: bold;
}

.zeroTotal {
    background: #F2C94C;
    background: linear-gradient(to right, #F2994A, #F2C94C);
}

.hTagDisplay {
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background: rgb(180, 180, 180);
}

.hTagContainer {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    color: rgb(0, 0, 0);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.tbInfo {
    background: #ECE9E6;
    background: linear-gradient(to right, #ECE9E6, #FFFFFF);
    color: #000000;
    clear: both;
    cursor: pointer;
    line-height: 15px;
    padding: 3px 0;
    text-transform: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: 10px;
    word-wrap: break-word;
}

.tbLabel {
    font-weight: bold;
    font-size: inherit;
}


/*
----------------------------------------
Image checker
----------------------------------------
*/

.imgOverlay {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.imgOverlay.myNextGen {
    z-index: 5;
    height: 100%;
    width: 100%;
}


/* allow proper displaying of color overlay on images */

.overlaid {
    position: relative;
}

.hasAlt,
body .card .content .hasAlt {
    background: rgb(146, 232, 66);
    background: rgba(146, 232, 66, .75);
}

.noAlt,
body .card .content .noAlt {
    background: rgb(255, 124, 216);
    background: rgba(255, 124, 216, .75);
}

.emptyAlt,
body .card .content .emptyAlt {
    background: rgb(255, 124, 216);
    background: rgba(255, 124, 216, .75);
}


/*
----------------------------------------
lnk checker styles
----------------------------------------
*/


/* covers all text links and image links */

.noTitle,
footer .card .content .text .link .siteLink.noTitle,
body .card .content .text .copy .siteLink.noTitle,
body .card .content .text .link .siteLink.noTitle,
body .card .content .media .imgOverlay.noTitle {
    background: rgb(255, 124, 216);
    background: rgba(255, 124, 216, .75) !important;
    border: none;
}

.hasTitle,
footer .card .content .text .link .siteLink.hasTitle,
body .card .content .text .copy .siteLink.hasTitle,
body .card .content .text .link .siteLink.hasTitle,
body .card .content .media .imgOverlay.hasTitle {
    background: rgb(146, 232, 66);
    background: rgba(146, 232, 66, .75) !important;
    border: none;
}

.opensWindow,
footer .card .content .text .link .siteLink.opensWindow,
body .card .content .text .copy .siteLink.opensWindow,
body .card .content .text .link .siteLink.opensWindow,
body .card .content .media .imgOverlay.opensWindow {
    background: rgb(255, 165, 0);
    background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(255, 255, 255, 0) 26%, rgba(146, 232, 66, 0) 100%) !important;
    border: none;
}

.hasTitle.opensWindow,
footer .card .content .text .link .siteLink.hasTitle.opensWindow,
body .card .content .text .copy .siteLink.hasTitle.opensWindow,
body .card .content .text .link .siteLink.hasTitle.opensWindow,
body .card .content .media .imgOverlay.hasTitle.opensWindow {
    background: rgb(146, 232, 66);
    background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(146, 232, 66, 0.75) 26%, rgba(146, 232, 66, 0.75) 99%, rgba(146, 232, 66, 0.75) 100%) !important;
    border: none;
}

.noTitle.opensWindow,
footer .card .content .text .link .siteLink.noTitle.opensWindow,
body .card .content .text .copy .siteLink.noTitle.opensWindow,
body .card .content .text .link .siteLink.noTitle.opensWindow,
body .card .content .media .imgOverlay.noTitle.opensWindow {
    background: rgb(255, 124, 216);
    background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(255, 124, 216, 0.75) 26%, rgba(255, 124, 216, 0.75) 100%) !important;
    border: none;
}

.emptyTitle.opensWindow,
footer .card .content .text .link .siteLink.emptyTitle.opensWindow,
body .card .content .text .copy .siteLink.emptyTitle.opensWindow,
body .card .content .text .link .siteLink.emptyTitle.opensWindow,
body .card .content .media .imgOverlay.emptyTitle.opensWindow {
    background: rgb(255, 124, 216);
    background: linear-gradient(to right, rgba(255, 165, 0, 0.75) 0%, rgba(255, 165, 0, 0.75) 25%, rgba(255, 124, 216, 0.75) 26%, rgba(255, 124, 216, 0.75) 100%) !important;
    border: none;
}

.brokenURL,
footer .card .content .text .link .siteLink.brokenURL,
body .card .content .text .copy .siteLink.brokenURL,
body .card .content .text .link .siteLink.brokenURL,
body .card .content .media .imgOverlay.brokenURL {
    background: rgb(240, 0, 0);
    background: linear-gradient(to right, rgb(240, 0, 0), rgb(220, 40, 30)) !important;
    border: none;
    color: white;
}

.urlIssue,
footer .card .content .text .link .siteLink.urlIssue,
body .card .content .text .copy .siteLink.urlIssue,
body .card .content .text .link .siteLink.urlIssue,
body .card .content .media .imgOverlay.urlIssue {
    -moz-box-shadow: inset 0 0 0 3px rgb(255, 55, 60);
    -webkit-box-shadow: inset 0 0 0 3px rgb(255, 55, 60);
    box-shadow: inset 0 0 0 3px rgb(255, 55, 60);
    border: none;
}

.absoluteURL,
footer .card .content .text .link .siteLink.absoluteURL,
body .card .content .text .copy .siteLink.absoluteURL,
body .card .content .text .link .siteLink.absoluteURL,
body .card .content .media .imgOverlay.absoluteURL {
    -moz-box-shadow: inset 0 0 0 3px purple;
    -webkit-box-shadow: inset 0 0 0 3px purple;
    box-shadow: inset 0 0 0 3px purple;
    border: none;
}

.buttonFlag,
footer .card .content .text .link .siteLink.buttonFlag,
body .card .content .text .link .siteLink.buttonFlag,
body .card .content .text .copy .buttonFlag {
    background: #0ed2f7;
    background: linear-gradient(to right, #b2fefa, #0ed2f7) !important;
    color: #000000;
    border: none;
}

.linkChecked,
footer .card .content .text .link .siteLink.linkChecked,
body .card .content .text .copy .siteLink.linkChecked,
body .card .content .text .copy .siteLink.linkChecked.hasTitle,
body .card .content .text .copy .siteLink.linkChecked.noTitle,
body .card .content .text .link .siteLink.linkChecked,
body .card .content .text .link .siteLink.linkChecked.hasTitle,
body .card .content .text .link .siteLink.linkChecked.noTitle,
body .card .content .media .imgOverlay.linkChecked {
    background: rgb(160, 255, 206);
    background: linear-gradient(to right, rgba(249, 255, 209, 0.75) 0%, rgba(160, 255, 206, 0.75) 100%) !important;
    border: none;
    color: #909090;
}


/*
----------------------------------------
spell checker styles
----------------------------------------
*/

.spell-check.misspelled {
    display: inline-block;
    vertical-align: initial;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    background-color: rgb(255, 182, 193);
    background-position: bottom;
    background-repeat: repeat-x;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAMAAACDKl70AAAAFVBMVEX////+NQD+NQD+NQD+Sgz+NQD+NQCKU3Z/AAAAB3RSTlMAKVdwqL/ggPdRNgAAABdJREFUCNdjYGRiZGBgYWVhYGBmY2YAAADPAB54rWlqAAAAAElFTkSuQmCC")
}


/*
----------------------------------------
Web Page Test Styles
----------------------------------------
*/

.WPT.input {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    display: none;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
}

.WPT.email {
    margin: 5px 0;
    width: 85%;
}

.WPT.bSelect {
    margin: 5px 0;
    width: 90%;
}

.WPT.keySelect {
    margin: 5px 0;
    width: 90%;
}

.WPT.input .myEDOBut {
    margin: 0;
}


/*
----------------------------------------
show navigation
----------------------------------------
*/


/*
used box shadow to color links,
no other way around bundle.css
styles without using !important or id selectors
*/

.majorPage {
    color: #000000;
    -moz-box-shadow: inset 0 0 0 500px rgb(255, 204, 51);
    -webkit-box-shadow: inset 0 0 0 500px rgb(255, 204, 51);
    box-shadow: inset 0 0 0 500px rgb(255, 204, 51);
}

.customPage {
    color: #ffffff;
    -moz-box-shadow: inset 0 0 0 500px #fc67fa;
    -webkit-box-shadow: inset 0 0 0 500px #fc67fa;
    box-shadow: inset 0 0 0 500px #fc67fa;
}

body .page nav #pmenu .showNav {
    display: block !important;
}

body header .menu>nav>ul .showNav.nextgenShowNav {
    display: inline-block;
    position: absolute;
    background: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    margin: 1rem 0 0 -1rem;
    padding: 0;
    width: 20rem;
}

body header .menu>nav>ul .showNavAdd.customAdd>a,
body header .menu>nav>ul .showNavAdd.customAdd>span,
body header .menu>nav>ul .showNav.nextgenShowNav>li>a {
    color: white;
}

body header .menu>nav>ul .showNav.nextgenShowNav>li {
    padding: 0;
}

body header .menu>nav>ul .showNav.customAdd {
    width: 15rem;
    padding: 1rem 0;
    font-size: 15px;
}


/*
----------------------------------------
SEO Simplify
----------------------------------------
*/

.inputDisplay {
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background: rgb(180, 180, 180);
}

.inputContainer {
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    color: rgb(0, 0, 0);
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}


/*
----------------------------------------
widget outline
----------------------------------------
*/

.showWidgetData:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    margin: auto;
    background: rgb(80, 201, 195);
    background: linear-gradient(to right, rgba(80, 201, 195, .85), rgba(150, 222, 218, .85));
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.outlineWidget {
    border: 1px dotted pink;
}

.hideColorblock {
    z-index: -1;
}


/*
----------------------------------------
404 link checker
----------------------------------------
*/

.error,
.header.card .menu nav ul li:hover>ul li a.error,
body .card .content .text .copy .siteLink.error,
body .card .content .text .link .siteLink.error,
body .card .content .media .imgOverlay.error {
    background: rgb(240, 0, 0);
    background: linear-gradient(to left, rgba(240, 0, 0, .75), rgba(220, 40, 30, .75));
    border: none;
    color: #ffffff;
}

.attention,
.header.card .menu nav ul li:hover>ul li a.attention,
body .card .content .text .copy .siteLink.attention,
body .card .content .text .link .siteLink.attention,
body .card .content .media .imgOverlay.attention {
    border: none;
    -moz-box-shadow: inset 0 0 0 3px rgb(255, 55, 60);
    -webkit-box-shadow: inset 0 0 0 3px rgb(255, 55, 60);
    box-shadow: inset 0 0 0 3px rgb(255, 55, 60);
}

.jumpLink,
.header.card .menu nav ul li:hover>ul li a.jumpLink,
body .card .content .text .copy .siteLink.jumpLink,
body .card .content .text .link .siteLink.jumpLink,
body .card .content .media .imgOverlay.jumpLink {
    background: #FFAFBD;
    background: linear-gradient(to left, #FFAFBD, #ffc3a0);
    border: none;
    color: #000000;
}

.mobilePhoneLink,
.header.card .cta a[href^="tel:"].mobilePhoneLink span,
.header.card .menu nav ul li:hover>ul li a.mobilePhoneLink,
body .card .content .text .copy .siteLink.mobilePhoneLink,
body .card .content .text .link .siteLink.mobilePhoneLink,
body .card .content .media .imgOverlay.mobilePhoneLink {
    background: #005588;
    border: none;
    color: #ffffff;
}

.success,
.header.card .menu nav ul li:hover>ul li a.success,
body .card .content .text .copy .siteLink.success,
body .card .content .text .link .siteLink.success,
body .card .content .media .imgOverlay.success {
    background: rgb(86, 171, 47);
    background: linear-gradient(to right, rgba(86, 171, 47, .75), rgba(168, 224, 99, .75));
    border: none;
    color: #000000;
}

.otherDomain,
.header.card .menu nav ul li:hover>ul li a.otherDomain,
body .card .content .text .copy .siteLink.otherDomain,
body .card .content .text .link .siteLink.otherDomain,
body .card .content .media .imgOverlay.otherDomain {
    background: #92FE9D;
    background: linear-gradient(to left, rgba(0, 201, 255, .75), rgba(146, 254, 157, .75));
    border: none;
    color: #000000;
}

.checkMessage {
    margin: 5px auto;
    padding: 5px;
}

.checkContainer {
    text-align: center;
    background: white;
}


/*
----------------------------------------
toggle tools styles
----------------------------------------
*/

.toggleTool {
    background: rgb(236, 233, 230);
    background: linear-gradient(to right, rgb(236, 233, 230), rgb(255, 255, 255));
    border-top: 1px solid #999999;
    color: rgb(0, 0, 0);
    cursor: pointer;
    line-height: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.autoApply {
    font-weight: bold;
}

.autoApplyInput {
    background: rgb(255, 255, 255);
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(171, 186, 171) 35%, rgb(171, 186, 171) 70%, rgb(255, 255, 255) 100%);
}

.refreshPageContainer {
    position: absolute;
    right: 35px;
    top: -55px;
    z-index: 500000;
}

.refreshButt {
    background: rgb(251, 211, 233);
    background: linear-gradient(to left, rgb(251, 211, 233), rgb(187, 55, 125));
    width: initial;
    padding: 5px 20px 5px 15px;
}

.refreshButt:hover {
    background: #f4c4f3;
    background: linear-gradient(to left, #f4c4f3, #fc67fa);
}


/*
----------------------------------------
shared styles
----------------------------------------
*/

.linkChecked {
    background: rgb(249, 255, 209);
    background: linear-gradient(to right, rgba(249, 255, 209, 0.75) 0%, rgba(160, 255, 206, 0.75) 100%);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #999999;
}

.removeDiv {
    background: #2a0845;
    background: linear-gradient(to bottom, #6441a5, #2a0845);
    color: #ffffff;
    position: fixed;
    top: 15%;
    left: 25%;
    height: 5%;
    width: 50%;
}
